<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css"/>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
</head>
<body>

<div id="app">
    <div id="content">
        <button class="uk-button uk-button-primary uk-position-top-left"
                @click="showSearch = true"
                v-show="!showSearch"
                style="z-index: 10"
        >
            Открыть
        </button>

        <div id="search" class="uk-grid uk-grid-small uk-grid-divider" v-show="showSearch">
            <div class="uk-width-auto" id="searchBox">
                <div id="fieldOfBox">
                    <div class="uk-grid uk-grid-small">
                        <div class="label">
                            <label class="uk-form-label">Поиск аэропорта: </label>
                        </div>
                        <div class="uk-width-expand">
                            <v-select :label="'text'"
                                      :options="optionsAirports"
                                      v-model="selectedAirportCode"
                                      :reduce="airport => airport.id">
                            </v-select>
                        </div>
                    </div>


                    <div class="uk-margin" v-if="selectedAirportCode">
                        <div class="uk-grid uk-grid-small">
                            <div class="label">
                                <label class="uk-form-label">Дата отлета:</label>
                            </div>
                            <div class="uk-width-auto">
                                <v-datepicker :input-class="'uk-input'" v-model="dateStart"></v-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="uk-margin" v-if="selectedAirportCode">
                        <div class="uk-grid uk-grid-small">
                            <div class="label">
                                <label class="uk-form-label">Дата отлета:</label>
                            </div>
                            <div class="uk-width-auto">
                                <v-datepicker :input-class="'uk-input'" v-model="dateFinish"></v-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <input type="button" class="uk-button uk-button-primary uk-width-1-1" value="Запросить" @click="getDataFlight" :disabled="load || !selectedAirportCode">
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-default uk-width-1-1" @click="showSearch = false">Закрыть</button>
                    </div>
                </div>

            </div>
            <div id="flights" class="uk-width-expand" v-if="flights.length">
                <table class="uk-table uk-table-small uk-table-divider">
                    <thead>
                    <tr>
                        <th>Aircraft ICAO24</th>
                        <th>Departure Airport</th>
                        <th>Arrival Airport</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="flight in flights">
                        <td>{{ flight.icao24 }}</td>
                        <td>{{ getAirportNameByCode(flight.estDepartureAirport) }}</td>
                        <td>{{ getAirportNameByCode(flight.estArrivalAirport) }}</td>
                        <td>
                            <button class="uk-button uk-button-primary" @click="showPath(flight)" :disabled="load">Показать</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="map"></div>
</div>


<script src="script_bundle.js"></script>

</body>
</html>